/* RegisterPage.css */
.container-register {

    position: fixed;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inset: 0;
    height: 80vh;
  }
  
  .container-register h2 {
    position: absolute;
    top: 10vh;
  }

  .register-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20vh;

  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
  }
  
  .register-button {
    background-color: #DD3542;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .register-button:hover {
    background-color: #aa2a35;
  }
  