* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    margin: 0;
    position: absolute;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100vw;
    top: 100px;
    left: 0;
    
}