
#container-table {
    margin: 0;
    position: absolute;
    width: 100%;
    margin-top: calc(176px + 72px);
    overflow-y: auto;
}

.table-wrapper {
    overflow-y: auto;
    max-height: 500px; /* Ajusta según sea necesario */
}

table {
    border-collapse: collapse;
}   

table thead tbody {
    display: block;
}

table thead {
    position: absolute;
    height: 48px;
    display: flex;
    align-items: center;
    width: 100vw;
}

table thead tr {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16px;
    text-align: left;
}

table thead tr th {
    height: 100%;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

table tbody {
    width: 100vw;
    overflow-y: auto;
    max-height: 500px;
}

table tbody tr {
    color: #8E8E8E;
    height: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

table tr th:last-child,
table tr td:last-child {
    margin-right: 24px;
}

table thead tr th:nth-child(1), table tbody tr td:nth-child(1) {
    width: 21.56vw;
}
table thead tr th:nth-child(2), table tbody tr td:nth-child(2) {
    width: 18.75vw;
}
table thead tr th:nth-child(3), table tbody tr td:nth-child(3) {
    width: 18.44vw;
}
table thead tr th:nth-child(4), table tbody tr td:nth-child(4) {
    width: 20vw;
}
table thead tr th:nth-child(5), table tbody tr td:nth-child(5) {
    width: 13.75vw;
}

table tr th:first-child,
table tr td:first-child {
    margin-left: 72px;
}

/* Color para las filas impares */
.odd-row {
    background-color: #f7f7f7; 
}



  
