
#container-table {
    margin: 0;
    position: absolute;
    width: 100%;
    margin-top: calc(176px + 72px);
}
table thead {
    position: absolute;
    height: 48px;
    display: flex;
    align-items: center;
    width: 100vw;
}

table thead tr {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table tbody tr {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8E8E8E;
    
}

table tr th:last-child,
table tr td:last-child {
    margin-left: 72px;
}

table tr th:first-child,
table tr td:first-child {
    margin-left: 72px;
}

table tr th:nth-child(n+2):nth-child(n+5),
table tr td:nth-child(n+2):nth-child(n+5) {
    margin: 24px;
}